<div class="row">
    <div class="col-lg-6 vh-100 position-relative">
        <div class="position-absolute top-50 start-50 translate-middle border border-danger text-nowrap">
            <h1 class="display-3 fw-bolder text-primary">
                Mikart Energy
                <br>
                <span class="text-gragient-danger">Product Studio</span>
            </h1>
            <p class="fs-4 pt-4 text-primary">
                Damn good at building products.
                <br>
                Happy customers can prove that.
            </p>
        </div>
    </div>
    <div class="col-lg-6 vh-100 g-0">
        <div class="poster zoomed-img background-gragient-info h-50 position-relative">
          <a href="https://youtu.be/dQw4w9WgXcQ">
            <img src="assets/images/img-engineering.jpg" alt="img-engineering">
            <div class="poster-text text-white">
              <h1 class="display-4 fw-bolder">
                Engineering
              </h1>
              <p class="fs-5">
                If you're looking for a tech partner, we will help you to succeed with your production.
              </p>
            </div>
          </a>

        </div>
        <div class="poster zoomed-img background-gragient-danger h-50">
          <a href="https://youtu.be/dQw4w9WgXcQ">
            <img src="assets/images/img-distribution.jpg" alt="img-distribution">
            <div class="poster-text text-white">
              <h1 class="display-4 fw-bolder">
                Distribution
              </h1>
              <p class="fs-5">We are an authorized partner of several European companies. And we are happy to help you in the choice of industrial equipment. </p>
            </div>
          </a>
        </div>
    </div>
</div>
