<div class="py-6">
    <div class="container pt-5 border border-1 border-danger">
        <FORM action="https://mall.industry.siemens.com/tst/?edition=siemens_test_ua" method="post" name="start"
            enctype="multipart/form-data">
            <INPUT type="hidden" name="version" value="1.0" />
            <INPUT type="hidden" name="country" value="UA" />
            <INPUT type="hidden" name="language" value="eng" />
            <INPUT type="hidden" name="hookurl" value="http://localhost:4200/" />
            <INPUT type="submit" value="start TIA Selection Tool">
        </FORM>
    </div>
</div>