<div class="container position-relative pt-6 vh-100 w-100">
    
    <div class="m-5">
        <p-autoComplete [(ngModel)]="selectedItem" [suggestions]="suggestions" (completeMethod)="search($event)" [minLength]=minQueryLength panelStyleClass="autoCompletePanelStyle"></p-autoComplete>
    </div>

    <hr class="border border-primary">

    <div class="row">
        <div class="col-5">
            <hr class="border border-primary">
        </div>
        <div class="col-2">
            <div class="fs-5 fw-bolder text-center">OR</div>
        </div>
        <div class="col-5">
            <hr class="border border-primary">
        </div>
    </div>

    <div class="position-absolute top-50 start-50 translate-middle">
        <app-tia-st-form [_shadow]="true" [_width]="'25rem'"></app-tia-st-form>
    </div>

</div>