<!-- FIRST ELEMENT -->
<div class="container pt-6">
  <div class="row py-6 d-flex justify-content-center border border-danger">
    <div class="col-auto border border-info text-center">
      <img src="assets/images/kyiv-icon.svg" class="mb-4" style="width: 130px;" alt="kyiv">
      <h2>Ukraine</h2>
      <h5>KYIV</h5>
      <p class="lh-lg fs-5">Khreshchatyk St, 69
      <br>
      The biggest office
      <br>
      01001 Kyiv, Ukraine
      <br>
      </p>
    </div>
  </div>
</div>

<!-- SECONT ELEMENT -->


