<!-- FIRST ELEMENT -->
<div class="row min-vh-100">
  <div class="col px-6 text-center m-auto">
    <h1 class="display-2 fw-bolder text-primary">
      We provide a damn good service to our customers
    </h1>
    <br>
    <a href="/contacts" class="display-5 fw-bolder text-gradient-danger arrow-right">
      Meet the Team
    </a>
  </div>
</div>

<!-- SECONT ELEMENT -->
<div class="row bg-white shadow-lg mx-lg-4 pt-6 g-0">
  <div class="col-lg-6 ps-6 pe-3 mb-5">
    <h2 class="fw-bolder fs-1">Mikart-Energy Story</h2>
    <br>
    <h4>Founded in 2021</h4>
    <br>
    <p class="fs-5">Mikart Energy was founded in 2021 by two tech-savvy enthusiasts. At that time, we mainly worked on customer projects, creating great solutions and providing features that our customers demanded. Even though we didn't have much experience with the full project cycle back then, we always wanted to be involved in all phases of the product lifecycle.</p>
    <br>
    <p class="fs-5">Today Mikart Energy is a engineering company with two main areas - services and sales. These areas are inextricably linked and complement each other. It does not matter for us what type of project we are working on. We apply the same approaches and tools to all of them in order to accumulate and share knowledge and improve our craft with each new project.</p>
  </div>
  <div class="col-lg-6 ps-6 pe-3 mb-5">
    <h2 class="fw-bolder fs-1">What’s Next?</h2>
    <br>
    <p class="fs-5">
      "As CEO of our engineering company, I'm incredibly proud of our team's dedication to providing innovative solutions to our clients. Our commitment to excellence and continuous improvement is what sets us apart and ensures our clients' success."
    </p>
    <!-- CEO Happe Face -->
    <div class="row pt-3 mb-5">
      <div class="col-md-auto text-center text-md-stare ">
        <img class="avatar" src="assets\images\img-maxmuster.jfif" alt="CEO photo">
      </div>
      <div class="col-md-auto mt-3 mt-lg-2 text-center text-md-start ">
        <h3 class="fs-2 fw-bolder">Max <br> Muster</h3>
        <p>CEO Micart-Energy</p>
      </div>
    </div>

  </div>
</div>

<!-- THIRD ELEMENT -->
<div class="row vh-75 text-primary">
  <div class="col-9 col-lg-6 text-center m-auto">
    <h2 class="fw-semibold display-4">
      Our Mission
    </h2>
    <br>
    <p class="fs-3">
      Influence the way companies are managed through the
      proven approaches and the products we build.
    </p>
  </div>
</div>

<!-- LAST ELEMENT -->
<div class="row vh-50">
  <div class="col-lg-6 g-0 mh-100 poster zoomed-img background-gragient-info">
      <a href="/development">
        <img src="assets/images/img-engineering.jpg" alt="img-engineering">
        <div class="poster-text text-white">
          <h1 class="display-4 fw-bolder">
            Development
          </h1>
          <p class="fs-5">
            If you're looking for a tech partner, we will help you to succeed with your production.
          </p>
        </div>
      </a>
  </div>
  <div class="col-lg-6 g-0 mh-100 poster zoomed-img background-gragient-danger">
      <a href="/shop">
        <img src="assets/images/img-distribution.jpg" alt="img-distribution">
        <div class="poster-text text-white">
          <h1 class="display-4 fw-bolder">
            Distribution
          </h1>
          <p class="fs-5">We are an authorized partner of several European companies. And we are happy to help you in the choice of industrial equipment. </p>
        </div>
      </a>
  </div>
</div>
