<header>
  <nav class="navbar fixed-top shadow-sm bg-white bg-opacity-75"
    style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
    aria-label="breadcrumb">
    <div class="container d-flex text-uppercase fw-bolder">

      <a class="navbar-brand" href="">
        <img src="assets/brand/LogoMikart.svg" alt="Mikart" width="60" height="60">
      </a>
      <div class="vr mx-3 d-none d-md-block"></div>
      <div class="d-none d-lg-block">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Mikart energy</a></li>
          <li class="breadcrumb-item"><a href="#">Link</a></li>
          <li class="breadcrumb-item"><a href="#">Link</a></li>
          <li class="breadcrumb-item active" aria-current="page">Disabled</li>
        </ol>
      </div>

      <!-- BUTTON TRIGGERS MODAL -->
      <button type="button" class="btn btn-outline-primary ms-auto me-3" data-bs-toggle="modal"
        data-bs-target="#contactUsModal">
        Сontact Us
      </button>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <!-- COLLAPSED DOWN ELEMENT OF MENU -->
    <div class="container-fluid">
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="p-5">
          <h5 class="h4">Collapsed content</h5>
          <span class="text-muted">Toggleable via the navbar brand.</span>
        </div>
      </div>
    </div>
  </nav>
</header>

<div class="container-fluid bg-light" style="min-height: 100vh;">
  <router-outlet></router-outlet>
</div>

<footer class="container-fluid bg-primary text-white p-5">
  <a routerLink="/design" class="nav-link">Design page</a>
</footer>

<!-- MODAL WINDOW WICH APPEARS AFTER CLICK ON BUTTON IN MENU -->
<div class="modal fade" id="contactUsModal" tabindex="-1" aria-labelledby="contactUsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="contactUsModalLabel">Contact Us</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Contacts</button>
      </div>
    </div>
  </div>
</div>
