<FORM 
    action={{getLinkToConfigurator()}} 
    method="post" 
    name="start"
    enctype="multipart/form-data">
    <INPUT type="hidden" name="version" value="1.0" />
    <INPUT type="hidden" name="country" value="UA" />
    <INPUT type="hidden" name="language" value="eng" />
    <INPUT type="hidden" name="hookurl" value={{getHookUrl()}} />
    <!-- <INPUT type="submit" value="start TIA Selection Tool" class="btn"> -->
    <button [hidden]="buttonStyledAsLink()" class="tia-button" type="submit" [ngClass]="{'shadow-none': !_shadow}" >
        <img src={{getImg()}} alt="TIA Selection Tool" [ngStyle]="{'width': _width}"/>
    </button>
    <button [hidden]="!buttonStyledAsLink()" [ngClass]="getStylingClass()" class="btn btn-link" type="submit">
        {{getLinkText()}}
    </button>
</FORM>
