<!-- FIRST ELEMENT -->
<div class="row ps-6 pt-6 pb-6 pe-3 g-0">
  <div class="col-lg-6 mt-5 ms-lg-auto">
    <h1 class="display-3 fw-bold text-gradient-secondary">
      Good <br> development services
    </h1>
    <p class="fs-4 pt-4 text-primary">
      Over the years we've mastered the craft of building products that customers need.
    </p>
    <p class="fs-5 pt-4 text-primary">
      Our development company partners with indastrial organizations to develop systems from scratch and improve existing machinery. Our professional approach to  development allows us to move in the right direction and reduce risk. With extensive experience in product design, development and management, we create solution that customers love.
    </p>
  </div>
  <div class="col-lg-5 mt-5 d-flex align-items-center justify-content-center">
    <img src="assets/images/development.svg" style="width: 100%;" alt="development">
  </div>
</div>

<!-- SECONT ELEMENT -->

