<!-- FIRST ELEMENT -->
<div class="row ps-6 py-6 pe-3 g-0">
  <div class="col-lg-6 mt-5 ms-lg-auto">
    <h1 class="display-3 fw-bold text-gradient-secondary">
      Good
      <br>
      development services
    </h1>
    <p class="fs-4 pt-4 text-primary">
      Over the years we've mastered the craft of building products that customers need.
    </p>
    <p class="fs-5 pt-4 text-primary">
      Our development company partners with indastrial organizations to develop systems from scratch and improve
      existing machinery. Our professional approach to development allows us to move in the right direction and reduce
      risk. With extensive experience in product design, development and management, we create solution that customers
      love.
    </p>
  </div>
  <div class="col-lg-5 mt-5 d-flex align-items-center justify-content-center">
    <img src="assets/images/development.svg" style="width: 100%;" alt="development">
  </div>
</div>

<!-- SECONT ELEMENT -->
<div class="container py-5 my-5 border border-danger">
  <div class="row mb-5 text-center text-primary">
    <div class="col m-auto ">
      <h2 class="fw-bolder display-5 text-secondary">
        Stages of the project development
        in detail
      </h2>
      <br>
      <p class="fs-4">
        We take care of the entire project development from determining requirements to delivering a full-fledged
        solution. Our team of engineers and designers has extensive practical experience in operating industrial
        equipment in various industries. This experience enables us to identify our customers' needs particularly
        clearly.
        See how we do it:
      </p>
    </div>
  </div>
  <div class="row p-0 px-lg-5 row-cols-1 row-cols-lg-2 g-4 border border-danger">
    <div class="col">
      <div class="card h-100 shadow p-4">
        <div class="card-body">
          <h2 class="card-title">Automatic process control systems implementation</h2>
          <br>
          <p class="card-text fs-5">We’ve completed many PLC Programming projects and have designed software for a wide variety of PLC types and sizes. From small, almost college type projects with just a handful of I/O to large, complicated and extensive process Control Systems, we’re proud of our experience.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 shadow p-4">
        <div class="card-body">
          <h2 class="card-title">Assembly and installation of power cabinets</h2>
          <br>
          <p class="card-text fs-5">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 shadow p-4">
        <div class="card-body">
          <h2 class="card-title">Project development</h2>
          <br>
          <p class="card-text fs-5">There is a cultural fit among people who work at our web development agency. We have extremely high standards for hiring. Our values include excellence, honesty, and respect. Our clients are our partners. Bringing value to them is our key work principle. We never stop at just "good enough." We always strive for “great”.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 shadow p-4">
        <div class="card-body">
          <h2 class="card-title">IT services</h2>
          <br>
          <p class="card-text fs-5">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- THIRD ELEMENT-->
<div class="container py-5">
  <div class="row pb-5 text-center text-primary">
    <div class="col m-auto ">
      <h2 class="fw-bolder display-5 text-secondary">
        Stages of the project development
        <br>
        in detail
      </h2>
      <br>
      <p class="fs-4">
        We take care of the entire project development from determining requirements to delivering a full-fledged
        solution. Our team of engineers and designers has extensive practical experience in operating industrial
        equipment in various industries. This experience enables us to identify our customers' needs particularly
        clearly.
        See how we do it:
      </p>
    </div>
  </div>
  <div class="row text-primary">
    <div class="col-lg-3 mb-3 text-center text-lg-start">
      <span class="bg-primary text-white rounded-pill badge fs-5 mb-4">1</span>
      <h3 class="text-gradient-secondary fw-bolder">
        Assessment
      </h3>
      <br>
      <p class="text-start fs-5">
        We will study your problem to determine if our help is needed to solve it. If yes, we will gather the requirements and prepare a roadmap for your project. If not, we will save you time and money.
      </p>
    </div>
    <div class="col-lg-3 mb-3 text-center text-lg-start">
      <span class="bg-secondary text-white rounded-pill badge fs-5 mb-4">2</span>
      <h3 class="text-gradient-secondary fw-bolder">
        Exploration
      </h3>
      <br>
      <p class="text-start fs-5">
        You may have enough data ready for analysis. If not, we will collect the necessary data from your production or from online sources if possible. We will then process this data to find the perfect solution.
      </p>
    </div>
    <div class="col-lg-3 mb-3 text-center text-lg-start">
      <span class="bg-danger text-white rounded-pill badge fs-5 mb-4">3</span>
      <h3 class="text-gradient-secondary fw-bolder">
        Modeling
      </h3>
      <br>
      <p class="text-start fs-5">
        Once the data is turned into a technical specifications, the most exciting part of our services begins. The development of the model and the real object involves a lot of work. We will continue until the completed system gives the desired results.
      </p>
    </div>
    <div class="col-lg-3 mb-3 text-center text-lg-start">
      <span class="bg-warning text-white rounded-pill badge fs-5 mb-4">4</span>
      <h3 class=" text-gradient-secondary fw-bolder">
        Productization
      </h3>
      <br>
      <p class="text-start fs-5">
        When you have proof that our development has fully solved the task, we'll put it into production. We will integrate the finished system into your manufacturing and provide support services to ensure that the hardware and software we have created fully meets all operational requirements.
      </p>
    </div>
  </div>
</div>

<!-- LAST ELEMENT -->
<div class="row py-4 background-gragient-secondary text-white">
  <div class="col-12 pt-6 pb-4 text-center">
    <h1 class="fw-bolder display-4">
      Start your project with Mikart-Energy
    </h1>
    <br>
    <img src="assets/images/two-hands.png" style="width: 100%;" alt="Helping Hand">
  </div>
  <div class="col-10 col-lg-10 m-auto pb-6 text-center">
    <p class="fs-4">
      With our engineering-driven culture, strong product management approaches, expertise in machine and software design, and engineers with PhD in nin chemical sciences, we can successfully work together to build new machinary for your business.
    </p>
    <br>
    <button type="button" class="btn btn-light btn-lg">Get in touch</button>
  </div>
</div>
