<!-- FIRST ELEMENT -->
<div class="row min-vh-100">
  <div class="col px-6 text-center m-auto">
    <h1 class="display-2 fw-bolder text-primary">
      We provide a damn good service to our customers
    </h1>
    <br>
    <a href="" class="display-5 fw-bolder text-gradient-danger arrow-right">
      Meet the Team
    </a>
  </div>
</div>

<!-- SECONT ELEMENT -->
<div class="row bg-white shadow-lg mx-lg-4 pt-6 g-0">
  <div class="col-lg-6 ps-6 pe-3 mb-5">
    <h2 class="fw-bolder fs-1">Mikart-Energy Story</h2>
    <br>
    <h4>Founded in 2021</h4>
    <br>
    <p class="fs-5">Railsware was established in 2007 by four tech-savvy enthusiasts. At that time, we mainly focused on clients’ projects providing great code and delivering features our customers requested. Even though we had little experience in product management back then, we always wanted to participate in all stages of a product life cycle.</p>
    <br>
    <p class="fs-5">Today Railsware is a Project company with two main focuses – services and products. These directions are integrally connected and complement each other. For us, it doesn’t matter what type of project we work on. We apply the same approaches and tools to all of them to accumulate and share knowledge and improve our craft with each new case.</p>
  </div>
  <div class="col-lg-6 ps-6 pe-3 mb-5">
    <h2 class="fw-bolder fs-1">What’s Next?</h2>
    <br>
    <p class="fs-5">
      "The experience and knowledge we gained working on the clients’ solutions laid the foundation for the Railsware products. Started as simple in-house tools, Mailtrap, Coupler.io, and Jira Smart Checklist now are commercial products with a very bright future."
    </p>
    <!-- CEO Happe Face -->
    <div class="row pt-3 mb-5">
      <div class="col-md-auto mb-3 text-center text-md-stare ">
        <img class="avatar" src="assets\images\img-maxmuster.jfif" alt="CEO photo">
      </div>
      <div class="col-md-auto text-center text-md-start ">
        <h3 class="fs-2 fw-bolder">Max <br> Muster</h3>
        <p>CEO Micart-Energy</p>
      </div>
    </div>

  </div>
</div>

<!-- THIRD ELEMENT -->
<div class="row vh-75 text-primary">
  <div class="col-9 col-lg-6 text-center m-auto">
    <h2 class="fw-semibold display-4">
      Our Mission
    </h2>
    <br>
    <p class="fs-3">
      Influence the way companies are managed through the
      proven approaches and the products we build.
    </p>
  </div>
</div>

<!-- LAST ELEMENT -->
<div class="row vh-50">
  <div class="col-lg-6 g-0 mh-100 poster zoomed-img background-gragient-info">
      <a href="https://youtu.be/dQw4w9WgXcQ">
        <img src="assets/images/img-engineering.jpg" alt="img-engineering">
        <div class="poster-text text-white">
          <h1 class="display-4 fw-bolder">
            Engineering
          </h1>
          <p class="fs-5">
            If you're looking for a tech partner, we will help you to succeed with your production.
          </p>
        </div>
      </a>
  </div>
  <div class="col-lg-6 g-0 mh-100 poster zoomed-img background-gragient-danger">
      <a href="https://youtu.be/dQw4w9WgXcQ">
        <img src="assets/images/img-distribution.jpg" alt="img-distribution">
        <div class="poster-text text-white">
          <h1 class="display-4 fw-bolder">
            Distribution
          </h1>
          <p class="fs-5">We are an authorized partner of several European companies. And we are happy to help you in the choice of industrial equipment. </p>
        </div>
      </a>
  </div>
</div>
