<!-- FIRST ELEMENT -->
<div class="row min-vh-100">
  <div class="col px-5 text-center border border-danger jastfy-content-centr m-auto">
    <h1 class="display-2 fw-bolder text-primary">
      Мы оказываем чертовски хорошие услуги нашим клиентам
    </h1>
    <a href="" class="d-block mt-5 display-5 fw-bolder text-gragient-danger">
      Meet the Team >>>
    </a>
  </div>
</div>

<!-- SECONT ELEMENT -->
<div class="row min-vh-100 bg-white">
  <div class="col-lg-7 border border-danger px-5 py-5 my-5">
    <h2 class="fw-bolder">Mikart-Energy Story</h2>
    <br>
    <h4>Founded in 2021</h4>
    <br>
    <p class="fs-5">Railsware was established in 2007 by four tech-savvy enthusiasts. At that time, we mainly focused on clients’ projects providing great code and delivering features our customers requested. Even though we had little experience in product management back then, we always wanted to participate in all stages of a product life cycle.</p>
    <br>
    <p class="fs-5">Railsware was established in 2007 by four tech-savvy enthusiasts. At that time, we mainly focused on clients’ projects providing great code and delivering features our customers requested. Even though we had little experience in product management back then, we always wanted to participate in all stages of a product life cycle.</p>
  </div>
  <div class="col-lg-5 border border-danger pe-5 py-5">
    <h2 class="fw-bolder">Two words of CEO</h2>
    <br>
    <p class="fs-5">
      "The experience and knowledge we gained working on the clients’ solutions laid the foundation for the Railsware products. Started as simple in-house tools, Mailtrap, Coupler.io, and Jira Smart Checklist now are commercial products with a very bright future."
    </p>
  </div>
</div>

<!-- LAST ELEMENT -->
<div class="row vh-50">
  <div class="col-lg-6 g-0 mh-100 poster zoomed-img background-gragient-info">
      <a href="https://youtu.be/dQw4w9WgXcQ">
        <img src="assets/images/img-engineering.jpg" alt="img-engineering">
        <div class="poster-text text-white">
          <h1 class="display-4 fw-bolder">
            Engineering
          </h1>
          <p class="fs-5">
            If you're looking for a tech partner, we will help you to succeed with your production.
          </p>
        </div>
      </a>
  </div>
  <div class="col-lg-6 g-0 mh-100 poster zoomed-img background-gragient-danger">
      <a href="https://youtu.be/dQw4w9WgXcQ">
        <img src="assets/images/img-distribution.jpg" alt="img-distribution">
        <div class="poster-text text-white">
          <h1 class="display-4 fw-bolder">
            Distribution
          </h1>
          <p class="fs-5">We are an authorized partner of several European companies. And we are happy to help you in the choice of industrial equipment. </p>
        </div>
      </a>
  </div>
</div>
