<!-- FIRST ELEMENT -->
<div class="container min-vh-100 d-flex justify-content-center align-items-center text-primary">
    <div class="text-center">
      <img src="assets/images/kyiv-icon.svg" class="mb-4" style="width: 130px;" alt="kyiv">
      <h2>Ukraine</h2>
      <h5>KYIV</h5>
      <p class="lh-lg fs-5">Khreshchatyk St, 69
        <br>
        The biggest office
        <br>
        01001 Kyiv, Ukraine
        <br>
      </p>
    </div>
</div>

<!-- SECONT ELEMENT -->
<div class="container pb-5 text-primary">
  <!-- MANAGEMENT -->
  <div class="row mb-5 text-center text-primary">
    <div class="col m-auto">
      <h2 class="fw-bolder display-5 text-gradient-primary">
        Company Management
      </h2>
    </div>
  </div>
  <div class="row p-1 pb-4 px-lg-5 row-cols-1 row-cols-lg-2 g-4">
    <div class="col">
      <div class="card h-100 shadow p-4">
        <div class="card-body">
          <h2 class="card-title ">CEO Micart-Energy</h2>
          <div class="row pb-3 pb-md-0">
            <div class="col-md-auto mt-3 mt-lg-2 text-center text-md-start ">
              <h3 class="fs-2 fw-bolder">Max <br> Muster</h3>
              <p class="fw-bolder">ceo@mikart.ua</p>
            </div>
            <div class="col-md-auto text-center text-md-stare ">
              <img class="avatar" src="assets\images\img-maxmuster.jfif" alt="CEO photo">
            </div>
          </div>
          <p class="card-text fs-5">As CEO of advanced engineering company, I'm incredibly proud of our team's dedication to providing innovative solutions to our clients. Our commitment to excellence and continuous improvement is what sets us apart and ensures our clients' success.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 shadow p-4">
        <div class="card-body">
          <h2 class="card-title ">COO Micart-Energy</h2>
          <div class="row pb-3 pb-md-0">
            <div class="col-md-auto mt-3 mt-lg-2 text-center text-md-start ">
              <h3 class="fs-2 fw-bolder">Bob <br> Buster</h3>
              <p class="fw-bolder">coo@mikart.ua</p>
            </div>
            <div class="col-md-auto text-center text-md-stare ">
              <img class="avatar" src="assets\images\img-coo.jpg" alt="COO photo">
            </div>
          </div>
          <p class="card-text fs-5">Our company is committed to delivering exceptional results that exceed our clients' expectations. Our unique approach, coupled with our talented and experienced team, sets us apart from the competition and ensures our clients' satisfaction.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- DEVELOPMENTS -->
  <div class="row my-5 text-center text-primary">
    <div class="col m-auto">
      <a href="/development" class="display-5 fw-bolder text-gradient-secondary arrow-right">
        Development Team
      </a>
    </div>
  </div>
  <div class="row p-1 pb-4 px-lg-5 row-cols-1 row-cols-lg-2 g-4">
    <div class="col">
      <div class="card h-100 shadow p-4">
        <div class="card-body">
          <h2 class="card-title ">CTO Micart-Energy</h2>
          <div class="row pb-3 pb-md-0">
            <div class="col-md-auto mt-3 mt-lg-2 text-center text-md-start ">
              <h3 class="fs-2 fw-bolder">Jim <br> Bim</h3>
              <p class="fw-bolder">cto@mikart.ua</p>
            </div>
            <div class="col-md-auto text-center text-md-stare ">
              <img class="avatar" src="assets\images\img-cto.jpg" alt="CTO photo">
            </div>
          </div>
          <p class="card-text fs-5">Our team is committed to delivering innovative solutions that meet the highest standards of quality and excellence. With a team of highly skilled and experienced professionals, we specialize in providing customized engineering services to clients in various industries. Trust us to bring your ideas to life and exceed your expectations.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 shadow p-4">
        <div class="card-body">
          <h2 class="card-title ">Project Manager</h2>
          <div class="row pb-3 pb-md-0">
            <div class="col-md-auto mt-3 mt-lg-2 text-center text-md-start ">
              <h3 class="fs-2 fw-bolder">Bingo <br> Bongo</h3>
              <p class="fw-bolder">bingo.bongo@mikart.ua</p>
            </div>
            <div class="col-md-auto text-center text-md-stare ">
              <img class="avatar" src="assets\images\img-proj-manager.jpg" alt="Project Manager photo">
            </div>
          </div>
          <p class="card-text fs-5">I enjoy working at our engineering company. It's a dynamic and exciting environment where I have the opportunity to work with talented professionals and make the most challenging projects a reality. It motivates me every day.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 shadow p-4">
        <div class="card-body">
          <h2 class="card-title ">Senior Software Engineer</h2>
          <div class="row pb-3 pb-md-0">
            <div class="col-md-auto mt-3 mt-lg-2 text-center text-md-start ">
              <h3 class="fs-2 fw-bolder">Hen <br> Ten</h3>
              <p class="fw-bolder">hen.ten@mikart.ua</p>
            </div>
            <div class="col-md-auto text-center text-md-stare ">
              <img class="avatar" src="assets\images\img-progr.jpg" alt="Senior Software Engineer photo">
            </div>
          </div>
          <p class="card-text fs-5">As the chief programmer, I take pride in leading our team towards delivering top-quality software solutions. While I enjoy my job immensely, the long hours and constant deadlines can be exhausting. Nonetheless, seeing the end result always makes it worthwhile.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 shadow p-4">
        <div class="card-body">
          <h2 class="card-title ">Lead Process Engineer</h2>
          <div class="row pb-3 pb-md-0">
            <div class="col-md-auto mt-3 mt-lg-2 text-center text-md-start ">
              <h3 class="fs-2 fw-bolder">Tony <br> Starko</h3>
              <p class="fw-bolder">tony.starko@mikart.ua</p>
            </div>
            <div class="col-md-auto text-center text-md-stare ">
              <img class="avatar" src="assets\images\img-proces-eng.jpg" alt="Lead Process Engineer photo">
            </div>
          </div>
          <p class="card-text fs-5">Oh, creating new projects is just the best for me. I enjoy creating new projects and pushing the boundaries of what's possible. However, my love for innovation is often challenged by the sheer number of assignments thrown my way. Insert eye roll here.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- DISTRIBUTION -->
  <div class="row my-5 text-center text-primary">
    <div class="col m-auto">
      <a href="/shop" class="display-5 fw-bolder text-gradient-info arrow-right">
        Distribution Team
      </a>
    </div>
  </div>
  <div class="row p-1 pb-4 px-lg-5 row-cols-1 row-cols-lg-2 g-4">
    <div class="col">
      <div class="card h-100 shadow p-4">
        <div class="card-body">
          <h2 class="card-title ">Call Center</h2>
          <div class="row pb-3 pb-md-0">
            <div class="col-md-auto mt-3 mt-lg-2 text-center text-md-start ">
              <h3 class="fs-2 fw-bolder">call center<br> mail</h3>
              <p class="fw-bolder">call.center@mikart.ua</p>
            </div>
            <div class="col-md-auto text-center text-md-stare ">
              <img class="avatar" src="assets\images\img-call-center.jpg" alt="Call Center photo">
            </div>
          </div>
          <p class="card-text fs-5">Oh we love our job very much. We look forward to every new call. Would you like to call us on your day off? And ask us to advise you on equipment we didn't sell you? Great! We are always very happy when you read the manuals. We are happy to do that for you.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 shadow p-4">
        <div class="card-body">
          <h2 class="card-title ">Sales Team Leader</h2>
          <div class="row pb-3 pb-md-0">
            <div class="col-md-auto mt-3 mt-lg-2 text-center text-md-start ">
              <h3 class="fs-2 fw-bolder">Foun <br> Tain</h3>
              <p class="fw-bolder">foun.tain@mikart.ua</p>
            </div>
            <div class="col-md-auto text-center text-md-stare ">
              <img class="avatar" src="assets\images\img-sales-team-lead.jpg" alt="Sales Team Leader photo">
            </div>
          </div>
          <p class="card-text fs-5">I absolutely love being a sales team lead! Staying in comfortable hotels, driving luxurious cars, and dining with customers at the best restaurants is all in a day's work. Building relationships and closing deals is my passion.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 shadow p-4">
        <div class="card-body">
          <h2 class="card-title ">Sales Manager</h2>
          <div class="row pb-3 pb-md-0">
            <div class="col-md-auto mt-3 mt-lg-2 text-center text-md-start ">
              <h3 class="fs-2 fw-bolder">Terre <br> Bon</h3>
              <p class="fw-bolder">terre.bon@mikart.ua</p>
            </div>
            <div class="col-md-auto text-center text-md-stare ">
              <img class="avatar" src="assets\images\img-sales-manag.jpg" alt="Sales Manager photo">
            </div>
          </div>
          <p class="card-text fs-5">I love to advise all our customers on magical technologys that I don't understand much about. This is my specialty. Sometimes I have to help our clients in selecting equipment for their projects. I am not always good at it. And sometimes the company is embarrassed for me. But that's okay. The main thing is that I like this job and my boss trusts me.</p>
        </div>
      </div>
    </div>
  </div>
</div>

