//----------------------------Redefining bootstrap variables--------------------//

// MY THEME COLORS
$purple-dark: #180f3d;
$purple-lighter: #521182; // #e7f3fa
$green-ligth: #13bd64;
$yellow-dark: #FFB800;
$orange-light: #FF6C40;
$cyan-dark: #00a2c5; // #18C3E9;
$blue-sky: #e7f3fa; // #f3f6fc
$light-cloud: #f3f6fc;


// MY VARIABLES
$primary: $purple-dark;
$secondary: $purple-lighter;
$success: $green-ligth;
$warning: $yellow-dark;
$danger: $orange-light;
$info: $cyan-dark;
$light: $blue-sky;


// NAVBAR
$navbar-brand-padding-y: 0;
// $spacer-high-nav: 1.1rem;
// $navbar-padding-y: $spacer-high-nav;


// NAVBAR BREADCRUMB
//$breadcrumb-font-size:              1rem;
$breadcrumb-padding-y: .5rem;
$breadcrumb-padding-x: 1rem;
$breadcrumb-item-padding-x: 1rem;
$breadcrumb-margin-bottom: 0rem;
// delete underline from link and add opacity on link hover
.breadcrumb {
    a {
        text-decoration: none;
        transition: ease-in-out .2s;
    }
    a:hover{
        opacity: 0.6;
    }
}


// NAVBAR TOGGLER
$navbar-toggler-focus-width:        0.1rem;
$navbar-toggler-padding-y:          .25rem ;
$navbar-toggler-padding-x:          .75rem ;
$navbar-toggler-font-size:          1.5rem;
//$navbar-light-toggler-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-light-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-light-toggler-border-color: $primary;//rgba($black, .1) ;


// BUTTON
$btn-border-radius:         0px;
//$btn-border-radius-sm:    $border-radius-sm;
//$btn-border-radius-lg:    $border-radius-lg;
$btn-padding-y:               0.5rem;
$btn-padding-x:               1rem;
$btn-font-weight:             bold;
$btn-transition:    color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out;


// COLLAPSE
$transition-collapse:         height 0.5s ease ;
$transition-collapse-width:   width 0.5s ease ;


// LINK
$link-color:        $primary;
$link-decoration:   none;
$link-hover-color:  transparentize($primary, .2);


//----------------------------End of Redefining bootstrap variables--------------------//


// GRADIENTS
.background-gragient-info{
  background: linear-gradient(45deg, $info 0%, rgba(13, 68, 208, 0.77) 40%, $primary 95%);
}

.background-gragient-danger{
  background: linear-gradient(320deg, $danger 30%, $warning 90%);
}

.background-gragient-secondary{
  background: linear-gradient(296.77deg, #DD4C52 11.36%, #921E8D 53.07%, $secondary 78.7%);
}


// TEXT GRADIENTS
.text-gradient-danger{
  color: $danger;
  background: linear-gradient(94.88deg, $danger 5.12%, $warning 93.99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-primary{
  color: $primary;
  background: linear-gradient(94.88deg, $primary 5.12%,  $danger 93.99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-secondary{
  color: $secondary;
  background: linear-gradient(296.77deg, #DD4C52 11.36%, #921E8D 53.07%, $secondary 78.7%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-info{
  color: $info;
  background: linear-gradient(296.77deg, $info 11.36%, rgba(13, 68, 208, 0.77) 20%, $primary 78.7%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a.text-gradient-danger{
  background: linear-gradient( 94.88deg, $danger 5.12%, $warning 93.99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &:hover{
    background: linear-gradient(94.88deg, $danger 5.12%, $primary 93.99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}



// MAIN BACKGROUND COLOR
.bg-main-colore{
  background-color: $light-cloud;
}


// OPACITY
.bg-opacity-95{
  opacity: 0.90;
}


// HEiGHT
.vh-50{
  height: 50vh;
}


// PADDING
.p{
  // 6 = 4.5 rem
  &-6{
    padding: 4.5rem !important;
  }
  &x-6{
    padding-left: 4.5rem !important;
    padding-right: 4.5rem !important;
  }
  &y-6{
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
  &s-6{
    padding-left: 4.5rem !important;
  }
  &e-6{
    padding-right: 4.5rem !important;
  }
  &t-6{
    padding-top: 4.5rem !important;
  }
  &b-6{
    padding-bottom: 4.5rem !important;
  }

  // 7 = 6 rem
  &-7{
    padding: 6rem !important;
  }
  &x-7{
    padding-left: 6rem !important;
    padding-right: 6rem !important;
  }
  &y-7{
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }
  &s-7{
    padding-left: 6rem !important;
  }
  &e-7{
    padding-right: 6rem !important;
  }
  &t-7{
    padding-top: 6rem !important;
  }
  &b-7{
    padding-bottom: 6rem !important;
  }
}


// HEIGHT
.v{
  &h-75{
    height: 75vh;
  }
}


// AFTER TEXT ELEMENT

.arrow-right{
  &::after{
    content: '>>>';
      margin-left: 0.1rem;
      margin-right: 1.3rem;
      transition: ease-in-out .5s;
  }
  &:hover::after{
    margin-left: 1.3rem;
    margin-right: 0.1rem;
    transition: ease-in-out .5s;
  }
}

// POSTER with activity type
.poster{
  position: relative;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &-text{
      position: absolute;
      top: 35%;
      left: 15%;
      width: 75%;
    }
}


// IMG ZOOMING
.zoomed-img{
  overflow: hidden;
  img{
    opacity: 0.3;
    -webkit-transform: scale(1);
	  transform: scale(1);
	  -webkit-transition: 1s ease-in-out;
	  transition: 1s ease-in-out;
    // blur
    //-webkit-filter: blur(1px);
	  //filter: blur(1px);
  }

  &:hover{
    img{
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      // blur
      //-webkit-filter: blur(0);
      //filter: blur(0);
    }
  }
}


// AVATAR
.avatar{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}





// DO NOT DELETE
/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/scss/bootstrap";
