<div class="container py-6 border border-1 border-danger">
    <div class="card mt-5 shadow">
        <div class="card-header p-4 h2">
            CIRCUIT BREAKER 10KA 1POLE B2
        </div>
        <div class="card-body p-4">
            <div class="row">
                <div class="col-lg-6 zoomed-img-4 text-center border border-1 border-warning">
                    <img class="vh-50" src="https://static.siemens.com/mimes/10001000PNG/G_I202_XX_26129P.png" alt="">
                </div>
                <div class="col-lg-6 border border-1 border-warning">
                    <h2>5SL4102-6</h2>
                    <br>
                    <p class="fw-semibold">Miniature circuit breaker 230/400 V 10kA, 1-pole, B, 2A Miniature circuit breaker SENTRON 5SL for fail-safe short-circuit and overload protection for standard applications in residential and non-residential buildings.The 5SL miniature circuit breakers are available in 1-, 2-, 3-, 4-pole and 1+N- and 3+N-pole versions and in further special types.The extensive accessories, such as the auxiliary switch, allow the functions to be extended in a wide variety of ways</p>
                    <hr>
                    <button type="button" class="btn btn-lg btn-warning">Buy now</button>
                </div>
            </div>
        </div>
    </div>
</div>