<div class="container py-6 border border-1 border-danger">
    <div class="card mt-5 shadow">
        <div class="card-header p-4 h2">
            CIRCUIT BREAKER 10KA 1POLE B2
        </div>
        <div class="card-body p-4">
            <div class="row">
                <div class="col-lg-6 zoomed-img text-center border border-1 border-warning">
                    <img class="vh-50" src="https://static.siemens.com/mimes/10001000PNG/G_I202_XX_26129P.png" alt="">
                </div>
                <div class="col-lg-6 border border-1 border-warning">
                    sdfsdfsdf
                </div>
            </div>
        </div>
    </div>
</div>