<div class="py-6">

    <!-- FIRST ELEMENT -->
    <div class="container pt-5 border border-1 border-danger">
        <div class="card shadow">
            <div class="card-header p-4 h2" [hidden]="_infoLoaded">
                CIRCUIT BREAKER 10KA 1POLE B2 "{{_productIdFromRoute}}"
            </div>
            <div class="card-header p-4 h2 placeholder-glow" [hidden]="!_infoLoaded">
                <span class="placeholder placeholder-lg col-7"></span>
            </div>
            <div class="card-body p-4">
                <div class="row">
                    <div class="col-lg-6 zoomed-img-4 d-flex justify-content-center align-items-center border border-1 border-warning">
                        <img class="vh-50" [hidden]="_infoLoaded" src="https://static.siemens.com/mimes/10001000PNG/G_I202_XX_26129P.png" alt="">
                        <div class="text-opacity-50 spinner-grow text-warning vh-50" [hidden]="!_infoLoaded" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-4 mt-lg-0 border border-1 border-warning">
                        <h3 class="mb-3" [hidden]="_infoLoaded">5SL4102-6</h3>
                        <h3 class="mb-3 placeholder-glow" [hidden]="!_infoLoaded">
                            <span class="placeholder placeholder col-6"></span>
                        </h3>
                        <p class="fw-semibold" [hidden]="_infoLoaded"> <!--fs-1--> Miniature circuit breaker 230/400 V 10kA, 1-pole, B, 2A
                            Miniature circuit breaker SENTRON 5SL for fail-safe short-circuit and overload protection for
                            standard applications in residential and non-residential buildings.The 5SL miniature circuit
                            breakers are available in 1-, 2-, 3-, 4-pole and 1+N- and 3+N-pole versions and in further
                            special types.The extensive accessories, such as the auxiliary switch, allow the functions to be
                            extended in a wide variety of ways</p>
                        <p class="placeholder-glow" [hidden]="!_infoLoaded">
                            <span class="placeholder col-11"></span>
                            <span class="placeholder col-10"></span>
                            <span class="placeholder col-11"></span>
                            <span class="placeholder col-12"></span>
                            <span class="placeholder col-10"></span>
                            <span class="placeholder col-11"></span>
                            <span class="placeholder col-7"></span>
                        </p>
                        <hr>
                        <button type="button" [hidden]="_infoLoaded" class="btn btn-lg btn-warning">Buy now</button>
                        <button type="button" [hidden]="!_infoLoaded" tabindex="-1" class="disabled btn btn-lg btn-warning">
                            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                            Loading...
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- SECONT ELEMENT -->
    <div class="container pt-5 border border-1 border-danger" [hidden]="_infoLoaded">
        <h3 class="ps-4 pb-2">Technical data</h3>
        <div class="card shadow">
            <div class="card-body p-4">
                <div class="table-responsive">
                    <table class="table table-hover align-middle table-borderless">
                        <tbody>
                            <tr>
                              <th scope="row" class="fw-normal">power loss [W] for rated value of the current at AC in hot operating state per pole</th>
                              <td>1.8 W</td>
                            </tr>
                            <tr >
                              <th scope="row" class="fw-normal">Jacob</th>
                              <td>@fat</td>
                            </tr>
                            <tr>
                              <th scope="row" class="fw-normal">Thornton</th>
                              <td>@twitter</td>
                            </tr>
                          </tbody>
                    </table>
                  </div>
            </div>
        </div>
    </div>

    <!-- THIRD ELEMENT-->
    <div class="container pt-5 border border-1 border-danger" [hidden]="_infoLoaded">
        <h3 class="ps-4 pb-2">Related products</h3>

    </div>
</div>
