<div class="container" [hidden]="!checkLoaded()">
    <h3 class="ps-4 pb-2 text-primary">Related products</h3>
    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6 g-3">
        <div *ngFor="let item of getProductMinimals()" class="col zoomed-img">
            <a href= "" target="_blank">
                <div class="card h-100 hover-shadow">
                    <div class="img-box p-3">
                        <img [src]="item.imageLowQualityURL" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body d-flex flex-column">
                        <div class="my-1 text-muted text-truncate text-uppercase"><small>{{item.orderNumber}}</small></div>
                        <div class="mb-2 lh-sm text-primary">{{item.productName}}</div>
                        <div class="h5 mb-0 mt-auto text-end">{{item.price | currency:item.priceCurrency + " "}}</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
